/* other page */
.staff-page{
    padding: 5% 20%;
}



/* tab view */
@media (max-width:800px){
    /* other page */
    .staff-page{
        padding: 5% 2%;
    }
}

/* mobile view */
@media (max-width:500px){
    
    .staff-page{
        padding: 10% 2%;
    }

    .lname,
    .email{
        display: none;
    }
}