.default-page-padding{
    padding: 2% 25%;
}

.influencer-name{
    color: #00884d;
}

.influencer-data-table{
    height: 60vh;
    overflow-y: scroll;
}

a{
    text-decoration: underline;
    color: #00884d;
}

  /* mobile */
  @media (max-width:520px){

    .menu-row{
        padding: 0 5%;
    }
    
    .menu-item-bar{
        padding: 10px 20px 0;
    }
    .menu-item{
        padding: 15px;
        background-color: #f3f3f3;
    }
    .default-page-padding{
        padding: 2% 5%;
    }
    
    
  }