/* other page */
.order-page{
    padding: 5% 15%;
}

input[type=checkbox]:checked{
    background-color: #00884d;
    border:1px solid #00884d;    
}

.page-button{
    padding: 15px;
}

.note-input{
    width: 100%;
}

/* tab view */
@media (max-width:800px){
    /* other page */
    .order-page{
        padding: 10% 0%;
    }

    .dateFilter-item {
        padding: 3px;
    }

    .order-amount{
        display: none;
    }
}

/* mobile view */
@media (max-width:500px){
    
    .order-page{
        padding: 10% 2%;
    }

    .dateFilter-item {
        padding: 3;
    }
    .order-amount,
    .order-date,
    .order-time{
        display: none;
    }
}