/* other page */
.order-page{
    padding: 5% 15%;
}



.page-button{
    padding: 15px;
}

.note-input{
    width: 100%;
}



/* Refund Page */
.accordion{
    margin-bottom: 5px;
}

/* Notification */
.each-notification{
    border: solid 1px #000;
}

/* tab view */
@media (max-width:800px){
    /* other page */
    .order-page{
        padding: 10% 0%;
    }

    .dateFilter-item {
        padding: 3px;
    }

    .order-amount{
        display: none;
    }
}

/* mobile view */
@media (max-width:500px){
    
    .order-page{
        padding: 10% 2%;
    }

    .dateFilter-item {
        padding: 3;
    }
    .order-amount,
    .order-date,
    .order-time{
        display: none;
    }
}