*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

h3{
    font-size:22px;
    font-weight: 600;
} 

section{
    margin: 10% 20%;
}

.row-def{
    border: 1px solid #d7d7d7;
    padding:20px; 
    margin: auto;
    }
.row-two{
    margin-top:20px;
}

#saveSetting{
    margin-top: 10px;
}



/* Tab view */
@media (max-width:820px){

    .tabonly{
       display: none;
    }    

    section{
        margin: 5% 10%;
    }
            /* login page */
            h2 {
                font-size:28px;
                font-weight: 800;
            }

            .login-sec{
                height: 100%;
                padding: 20vh 10%;
            }

            tr{
                font-size: 14px;
            }


            /*Orders page*/
            .order {
                padding: 5% 8%;
            }


            /* admin page */
            .admin-section{
                background-color: #efefef;
                height: 100vh;
                padding: 30vh 30vw;

            }
            

            /* single page */
            .singlepage{
                padding: 5% 5%;
            }

            /* admin page */
            .admin-section{
                background-color: #efefef;
                height: 100vh;
                padding: 30vh 10vw;

            }

}