*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

h3{
    font-size:22px;
    font-weight: 600;
} 

section{
    margin: 10% 20%;
}

.row-def{
    border: 1px solid #d7d7d7;
    padding:20px; 
    margin: auto;
    }
.row-two{
    margin-top:20px;
}

#saveSetting{
    margin-top: 10px;
}


