*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

h2 {
    font-size:30px;
    font-weight: 600;
}

h3{
    font-size:26px;
    font-weight: 600;
} 

h4{
    font-size:22px;
    font-weight: 600;
} 

h5{
    font-size: 17px;
    font-weight: 600;
}

h6{
    font-size: 15px;
    font-weight: 600;
}
p{
    font-size: 16px;
    line-height: 14px;
}

a{
    text-decoration: none;
    color: #00641b
}
a.main-link{
    text-decoration: underline;
    color: #00641b
}

.error{
    color: #ff0000;
}

/* Home */
.login-main{
    height: 100vh;
}

.login-bar{
    width: 500px;
}
.login-form{
    padding: 30px;
    border-radius: 10px;
    border: solid 1px #e1e1e1;
}

/*Loading effect*/
.loading-hide{
    display:none;
}

.loading{
        display:block;
}






