/* Walkie Talkie */

.walkie-form{
    padding: 10% 25%;
}

.walkie-form-item{
    border: solid 1px #515151;
    padding: 10px;
}
.walkie-form-item-title{
    background-color: #515151;
    color: #ffffff;
    padding: 10px;
}
.walkie-form-item-form{
    padding: 15px;
}
input.form-check-input{
    border: solid 1px #00a971;
}

input.form-check-input:checked{
    background-color: #00a971;
    border: #00a971 1px solid;
    box-shadow: none;
}