<%-include('include/header')-%>

<section class="">
    <div class="container">
        <div class="row login-main d-flex align-items-center">
            <div class="col-sm-12 d-flex justify-content-center">
                <div class="login-bar">
                    <h5 class="text-center">Change Password</h5>
                    <div class="login-form">
                        <form action="/changepassword" method="post">
                            <div class="mb-2">
                              <label for="username" class="form-label">Enter New Password</label>
                              <input type="password" name="password" class="form-control" id="password">
                            </div>
                            <div class="mb-2">
                              <label for="password" class="form-label">Confirm New Password</label>
                              <input type="password"  class="form-control" id="confirmPassword">
                            </div>
                            <div class="col-sm-12">
                                <p class="error" id="message"></p>
                            </div>
                                <button type="submit" class="btn btn-success btn-sm" id="changeBtn" disabled>Change Password</button>
                          </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<%-include('include/footerTemp')-%>
<script src="js/changepassword.js"></script>
<%-include('include/footer')-%>