
<%- include('include/header') -%>
    <section class="home-option-section">
      <h5 class="alert alert-success text-center">WOSIWOSI INTERNAL USE</h5>
        <div class="row d-flex align-items-center text-center">

            <!-- Online Fulfilment-->
            <div class="col-md-6 col-sm-12  home-option">
                <a href=""> 
                    <div class="option-item">
                        <h5>Online Fulfilment</h5>
                        <p>View and fulfil online order</p>
                    </div>
                </a>
            </div>

            <!-- Shop and warehouse-->
            <div class="col-md-6 col-sm-12  home-option">
                <a href=""> 
                    <div class="option-item">
                        <h5>Shop and Wharehouse</h5>
                        <p>View and fulfil online order</p>
                    </div>
                </a>
            </div>


            <!-- walkie talkie-->
            <div class="col-md-6 col-sm-12  home-option">
                <a href="/"> 
                    <div class="option-item">
                        <h5>Staff Portal</h5>
                        <p>View and edit your profile</p>
                    </div>
                </a>
            </div>

            <!-- walkie talkie-->
            <div class="col-md-6 col-sm-12  home-option">
                <a href="/walkietalkie"> 
                    <div class="option-item">
                        <h5>Walkie Talkie</h5>
                        <p>Pick or submit walkie talkie</p>
                    </div>
                </a>
            </div>


         </div>
    </section>

    <%- include('include/footerTemp') -%>
    <%- include('include/footer') -%>
