            <!-- actions -->

            <!-- if order is alreaddy added to Orders to be processed -->
            <div class="hidden" id="available-bar"> 
                <%if(user.role == "admin"){%>
                    <a href="/remove-from-order?order=<%=order.id%>" class="btn btn-danger btn-sm">Remove from order to be process today</a>
                <%}%>
                <a href="/processingorder" class="btn btn-warning btn-sm">Back</a>
                <button class="btn btn-success btn-sm" id="completeBtn">Completed</button>
            </div>

            <!-- if order is not added to Orders to be processed -->
            <div class="hidden" id="unavailable-bar">
                <%if(user.role == "admin"){%>
                    <button class="btn btn-danger btn-sm" id="saveBtn">Add to order to be process today</button>
                <%}else{%>
                    <h5 class="alert alert-danger"><i class="fa-solid fa-circle-exclamation"></i> This order cannot be worked on, contact manager to unlock</h5>
                <%}%>                
                <a href="/processingorder" class="btn btn-warning btn-sm">Back</a>

            </div>