            <!-- actions -->
        <% if(orderFromDB){%>
            <div class="row">
                <!-- neat picker -->
                <div class="col-md-4 col-4">
                    <div class="alert alert-light">
                        <h6> Meat:
                        <% if(orderFromDB.meatPicker.fname){%>                        
                            <%=orderFromDB.meatPicker.fname%>
                        <%}%>
                        </h6>
                    </div>
                </div> 

                <!-- dry picker-->
                <div class="col-md-4 col-4">
                    <div class="alert alert-light">
                        <h6>Picker:
                        <% if(orderFromDB.dryPicker.fname){%>                        
                            <%=orderFromDB.dryPicker.fname%>
                        <%}%>
                        </h6>
                    </div>
                </div> 

                <!-- packer -->
                <div class="col-md-4 col-4">
                    <div class="alert alert-light">
                        <h6> Packer:
                        <% if(orderFromDB.packer.fname){%>                        
                            <%=orderFromDB.packer.fname%>
                        <%}%>
                        </h6>
                    </div>
                </div> 
            </div>
        <%}%>