<%-include('include/header')-%>

<section class="">
  <div class="container">
    <div class="row team-main align-items-center">
      <!-- Partnership option -->
      <div class="col-sm-12 sectionOne team-bar text-center">
        <h5 class="alert alert-success text-center">PARTNERSHIP OPTION</h5>
        <p>Would you like to work in partnership with a staff member?</p>
        <div id="partnerOption">
          <button class="btn btn-md btn-secondary">Yes</button>
          <button class="btn btn-md btn-warning">No</button>
        </div>
      </div>
      <!-- select team -->
       <div class="col-sm-12 sectionTwo">
        optoe
       </div>
    </div>
  </div>
</section>

<%-include('include/footerTemp')-%>
<script src="/min/my-duty.js"></script>
<%-include('include/footer')-%>
