<%- include('include/header') -%>

<div class="order-page">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h6 class="alert alert-success text-center">Staff Notifications</h6>
            </div>
        </div>

        <!-- Notification -->
         <div class="row">
              
         </div>

        <!-- back to dashboard -->
        <div class="">
            <div class="col-sm-12" style="padding-top: 10px;">
                    <a class="btn btn-dark btn-sm" href="/staff/online">Back to dashboard</a>
            </div>
        </div>

    </div>
</div>

<%- include('include/footerTemp') -%>
<script src="/min/general.js"></script>
<%- include('include/footer') -%>