<%- include("include/header") -%>

<div class="">
    <div class="container">
        <div class="row">
            <%=staff.fname%>
        </div>
    </div>
</div>

<%- include("include/footerTemp") -%>

<%- include("include/footer") -%>